<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataGen</title>
    <link rel="stylesheet" href="../css/helper.css">
    <link rel="stylesheet" href="../css/main.css">

</head>

<body  class="u-body">
    <section class="u-clearfix u-grey-90 u-section-1" id="sec-d87d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-24 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                    <h4 class="u-custom-font u-text u-text-1">BSAFE<br>
                    </h4>
                    <div class="u-grey-5 u-shape u-shape-circle u-shape-1" style="background-color: inherit;"></div>
                    <img src="../images/B-safe-png.png" alt="" class="u-image u-image-default u-image-1" data-image-width="1403"
                    data-image-height="1592">
                    <div class="u-border-2 u-border-grey-75 u-shape u-shape-circle u-shape-2" style="background-color: none;"></div>
                    <div class="u-container-style u-expanded-width u-group u-group-1">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="u-expanded-width u-form u-form-1">
                        <form class="u-clearfix u-form-spacing-6 u-form-vertical u-inner-form"
                            style="padding: 11px;" source="custom" name="form">
                            <div class="u-form-group u-form-select">
                            <label for="select-3960" class="u-form-control-hidden u-label"></label>
                            <div class="u-form-select-wrapper">
                                <select id="select-3960" name="select"
                                class="u-border-1 u-border-palette-2-light-3 u-input u-input-rectangle u-text-palette-2-light-3 u-input-1">
                                <option value="EJERCICIO">EJERCICIO</option>
                                <option value="0">nada</option>
                                <option value="1">barbell row</option>
                                <option value="2">push up</option>
                                <option value="3">pull up</option>
                                <option value="4">deadlift</option>
                                <option value="5">remo</option>
                                <option value="6">pull down</option>
                                <option value="7">australian pull up</option>
                                <option value="8">caminando</option>
                                <option value="9">dumbell row</option>
                                <option value="10">superman</option>
                                <option value="11">bicep curl</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                            </div>
                            <div class="u-form-group u-form-select">
                            <label for="select-e739" class="u-form-control-hidden u-label">Seleccionar</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-e739" name="select-1"
                                class="u-border-1 u-border-palette-2-light-3 u-input u-input-rectangle u-text-palette-2-light-3 u-input-2">
                                <option value="ESTADO FISICO">ESTADO FISICO</option>
                                <option value="0">fresco</option>
                                <option value="1">agotado</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                            </div>
                            <div class="u-form-group u-form-select">
                            <label for="select-c1f1" class="u-form-control-hidden u-label">Seleccionar</label>
                            <div class="u-form-select-wrapper">
                                <select id="select-c1f1" name="select-2"
                                class="u-border-1 u-border-palette-2-light-3 u-input u-input-rectangle u-text-palette-2-light-3 u-input-3">
                                <option value="EJECUCION">EJECUCION</option>
                                <option value="1">BIEN</option>
                                <option value="0">MAL</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">
                                <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                            </div>
                            <div class="u-form-group">
                            <label for="text-7c3a" class="u-form-control-hidden u-label"></label>
                            <input type="text" placeholder="NOMBRE DE ARCHIVO" id="text-7c3a" name="text"
                                class="u-border-1 u-border-palette-2-light-3 u-input u-input-rectangle u-text-palette-2-light-3 u-input-4">
                            </div>
                            <div class="u-align-center u-form-group u-form-submit" id="btnGuardar">
                            <a href="#"
                                class="u-border-2 u-border-palette-2-light-3 u-border-radius-32 u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-2-light-2 u-none u-btn-1">Comenzar<br>
                            </a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                    <a href="#"
                    id="btnRep"
                    class="u-active-palette-2-light-2 u-border-1 u-border-palette-2-light-3 u-border-radius-30 u-btn u-btn-round u-button-style u-none u-btn-2">REP</a>
                </div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-36 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-3">
                    <h5 class="u-custom-font u-text u-text-default u-text-2">DATOS ADQUIRIDOS</h5>
                    <div
                    class="u-border-radius-5 u-container-style u-expanded-width u-grey-80 u-group u-shape-round u-group-2"
                    id="contenedorOsc">
                    <div class="u-container-layout u-container-layout-4">
                        <p class="u-custom-font u-text u-text-default u-text-3">Activacion muscular</p>
                        <div class="u-container-style u-grey-75 u-group u-group-3" id="emg1">
                            <canvas id="canvEMG1" width="275" height="67"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-4" id="emg2">    
                            <canvas id="canvEMG2" width="275" height="67"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-5" id="emg3">
                            <canvas id="canvEMG3" width="275" height="67"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-6" id="emg4">
                            <canvas id="canvEMG4" width="275" height="67"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-7" id="emg5">
                            <canvas id="canvEMG5" width="275" height="67"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-8" id="emg6">
                            <canvas id="canvEMG6" width="275" height="67"></canvas>
                        </div>
                        <div class="u-border-1 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                        <h6 class="u-text u-text-default u-text-4">Flex-Sensors</h6>
                        <p class="u-custom-font  u-text u-text-5">IMUs</p>
                        <div class="u-container-style u-grey-75 u-group u-group-9" id="flex1">
                            <canvas id="canvFlex1" width="67" height="200"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-10" id="flex2">
                            <canvas id="canvFlex2" width="67" height="200"></canvas>
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-11" id="flex3">
                            <canvas id="canvFlex3" width="67" height="200"></canvas>
                        </div>
                        <div class="u-border-1 u-border-grey-dark-1 u-line u-line-vertical u-line-2"></div>
                        <div class="u-container-style u-grey-75 u-group u-group-12" id="imu1">
                        </div>
                        <div class="u-container-style u-grey-75 u-group u-group-13" id="imu2">
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
   <script src="../src/renderer.js"></script>   
</body>
</html>